
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  include author
  h1= page.title
  p.author
    | #{ "Written by " }
    mixin author(page.metadata.author)

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  .social
    a(href="https://twitter.com/intent/tweet?button_hashtag=livingthedream&text=#{page.title}%20by%20%40azat_co", data-related="azat_co")
      i.fa.fa-twitter
    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  div.nav
    a(href=contents.index.url) « Home
